{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body%}

<div id="main-page-heading">
    <h1>Research Output Evaluation System</h1>
</div>

<div id="input-fields-section">
    <div id="fields">
         <div id="research-title-container">
            <span name="title">Research Title</span>
            <input type="text" name="" id="research-title" required>
        </div>

        <div id="author-name">
            <span name="author-label">Author</span>
            <input type="text" id="author-name-input" required>
        </div>
        <div>
            <span>Field of Study</span>
            <input type="text" id="study-field" required>
        </div>
        <div class="research-output-container">
            <span>Research Output</span>
            <textarea type="text" id="research-output" minlength="10" required></textarea>
        </div>
        <div id="submit-btn-container">
        <button type="submit" id="submit-btn">Submit</button>
    </div>
    </div>
</div>

{% endblock %}